body {
    background-image: url(http://d5qsyj6vaeh11.cloudfront.net/images/destinations/star%20wars/star-wars-landing/SW-node-Background.jpg);
    color: #e1b100;
}

* {
  font-family: Tahoma, Arial, sans-serif
}

.left_column {
    margin-right: 320px;
    transform: perspective(300px) rotateX(25deg);
}

.right_column {
    float: right;
    width: 160px;
}

ul#nav_container{
   list-style-type: none;
   margin-bottom: 15px;
   background-color: DarkGray;
}

ul li {
   display: inline-block;
}

li a {
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    color: White;
}

a:hover {
    background-color: #e1b100;
    color: Black;
}

#main_content {
    width: 900px;
    margin: auto;
}

