body {
  background-color: #ccc;
}

#navigation_menu {
  position: absolute;
  top: -16px;
  left: 0px;
  height: 50px;
  width: 100%;
}

#main_content {
  position: absolute;
  width: 100%;
  top: 50px;
}

#navigation_menu ul{
  background-color: #333;
  color: White;
  padding: 0px;
  list-style-type: none;
}

ul li {
  display: inline-block;
  margin-right: -4px;
}

ul li a {
  text-decoration: none;
  color: White;
  padding: 15px;
  display: inline-block;
}

ul li a:hover, #current_page {
  background-color: #093;
}

#current_page {
  background-color: #ccc;
}

h1 {
  padding-left: 1.5%;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  margin: auto;
  width: 97%;
}

th {
  background-color: #093;
  color: White;
  font-weight: bold;
}

th, td {
  padding: 10px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #aaa;
}

tr:nth-child(odd) {
  background-color: #999;
}

tr a {
  color: #093;
}

#home {
   float: right;
}

#home a, #back a {
  padding: 12px;
}

#create_customer, #save_customer {
  background-color: #093;
  color: White;
  border-radius: 5px;
  width: 140px;
  height: 30px;
  left: 1.5%;
  position: relative;
  margin-bottom: 10px;
  vertical-align: middle;
  line-height: 30px;
  text-align: center;
}

#save_customer {
  margin-top: 20px;
  width: 80px;
  left: 0px;
  cursor: pointer;
}

input[type="text"] {
  width: 50%;
  height: 20px;
  border-radius: 4px;
  border-width: 0px;
  margin-bottom: 10px;
  margin-top: 3px;
  padding-left: 20px;
}

#customer_form {
  position: relative;
  left: 1.5%;
}

a {
  text-decoration: none;
}
